* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    border-bottom: 1px solid black;
    text-align: center;
}

main {
    width: 800px;
    text-align: justify;
    margin: 0 auto;
}

  /* .centralizar {
    width: 90vw;
    margin: 0 5vw 0 5vw;
  } */

aside {
    width: 180px;
    border: 1px solid black;
    position: fixed;
    right: 0;
    text-align: center;
}

aside:hover {
    color: black;
    background-color: white;
}

aside:active {
    background-color: black;
    color: white;
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
}
  
button:hover {
    background-color: black;
    color: white;
    font-family: serif;
}

button:active {
    background-color: white;
    color: black;
}